.container {
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 80px;
    font-size: 60px;
    margin-left: 70px;

}
.team{
    background-image:url(../img/haikei.jpg);
}
a {
    text-decoration: none;
}
.th {
    height: 100px;
    text-align: center;
}
td {
    height: 200px;
}
.today {
    background: orange !important;
}
th:nth-of-type(1), td:nth-of-type(1) {
    color: red;
}
th:nth-of-type(7), td:nth-of-type(7) {
    color: blue;
}


.but{
    background-color: #40e0d0;
    font-size: large;
    font-weight: 400px;
    line-height: 30px;
    position:relative;top: 70px;right:100px;
    font-weight: 100px;
    line-height: 100px;
    position:relative;top: 50px;right:100px;
    display: inline-block;
    padding: auto;
    border-radius: 100vh;/*丸く*/
    margin-top: 100px;
    margin-top: 50px;

}

.buto{
    background-color: #40e0d0;
    font-size: 50px;
    font-weight: 50px;
    line-height: 50px;
    position:relative;top: 50px;
    display: inline-block;
    padding: auto;
    border-radius: 100vh;/*丸く*/
}
.header{
    text-align:center
}
.mb-5{
    color: #40e0d0;
}
.container table{
    background-color: #40e0d0;
    width: 800px;
    height: 1000px;
}
.sakusei{
    text-align: center;
}

/*6/12ここから追加*/
.sakusei button {
    left:20px;
    float:right;
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
margin: 0 auto;
max-width: 260px;
padding: 10px 25px;
color: #543618;
transition: 0.3s ease-in-out;
font-weight: 600;
background: #eeee;
border-radius: 50px;
border: 0.2rem solid #40e0d0;
box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
.sakusei button:hover {
transform: translate3d(0.2rem, 0.2rem, 0);
box-shadow: none;
opacity: 1;
transition: all 0.2s;
}
.sakusei button:after {
content: '';
width: 5px;
height: 5px;
border-top: 3px solid #543618;
border-right: 3px solid #543618;
transform: rotate(45deg) translateY(-50%);
position: absolute;
top: 50%;
right: 20px;
border-radius: 1px;
transition: 0.3s ease-in-out;
}
.sakuseia button {
    left: 100px;
float:left;
position: relative;
display: flex;
justify-content: space-around;
align-items: center;
margin: 0 auto;
max-width: 260px;
padding: 10px 25px;
color: #543618;
transition: 0.3s ease-in-out;
font-weight: 600;
background: #eeee;
border-radius: 50px;
border: 0.2rem solid #40e0d0;
box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
.sakuseia button:hover {
transform: translate3d(0.2rem, 0.2rem, 0);
box-shadow: none;
opacity: 1;
transition: all 0.2s;
}
.sakuseia button:after {
content: '';
width: 5px;
height: 5px;
border-top: 3px solid #543618;
border-right: 3px solid #543618;
transform: rotate(45deg) translateY(-50%);
position: absolute;
top: 50%;
right: 20px;
border-radius: 1px;
transition: 0.3s ease-in-out;
}
.button button{
margin-left: 750px;
font-size: 30px;
border-radius: 50%;
line-height: 100px;
width: 125px;
height: 125px;
padding: 0;
-webkit-box-shadow: 0 5px 0 #40e0d0;
box-shadow: 0 5px 0 #40e0d0;
}
.button button:hover {
-webkit-transform: translate(0, 3px);
transform: translate(0, 3px);
-webkit-box-shadow: 0 2px 0 #40e0d0;
box-shadow: 0 2px 0 #40e0d0;
}
.container table{
font-size: 35px;
}
body{
    background-color: 	#40e0d0;
    text-align: center;
 }
 .v form{
    font-size: 110px;
    margin-top: 20px;
    color: #40e0d0;
 }
 .mb-5{
    background-color: #000;
    font-size: 50px;
    margin-left: 90px;
 }
td button{
padding: 0.01em 0.1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
}
/*
.today button{
border-radius: 50%;
line-height: 100px;
width: 100px;
height: 100px;
padding: 0;
-webkit-box-shadow: 0 5px 0 #40e0d0;
box-shadow: 0 5px 0 #40e0d0;
}*/

/*試し*/