  .container {
            font-family: 'Noto Sans JP', sans-serif;
            margin-top: 80px;
            font-size: 40px;

        }
        .team{
            background-image:url(../img/haikei.jpg);
        }
        a {
            text-decoration: none;
        }
        .th {
            height: 100px;
            text-align: center;
        }
        td {
            height: 200px;
        }
        .today {
            background: orange !important;
        }
        th:nth-of-type(1), td:nth-of-type(1) {
            color: red;
        }
        th:nth-of-type(7), td:nth-of-type(7) {
            color: blue;
        }

        .button{
            text-align: right;
        text-align: right;
        }

        .but{
            background-color: #40e0d0;
            font-size: large;
            font-weight: 400px;
            line-height: 30px;
            position:relative;top: 70px;right:100px;
            font-weight: 100px;
            line-height: 100px;
            position:relative;top: 50px;right:100px;
            display: inline-block;
            padding: auto;
            border-radius: 100vh;/*丸く*/
            margin-top: 100px;
            margin-top: 50px;

        }

        .buto{
            background-color: #40e0d0;
            font-size: 50px;
            font-weight: 50px;
            line-height: 50px;
            position:relative;top: 50px;
            display: inline-block;
            padding: auto;
            border-radius: 100vh;/*丸く*/
        }
        .header{
            text-align:center
        }
        .mb-5{
            color: #40e0d0;
        }
        .container table{
            background-color: #40e0d0;

            width: 800px;
            height: 1000px;
        }
        .sakusei{
            text-align: center;
        }
        
        /*6/12ここから追加*/
        .sakusei button {
            float:right;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #40e0d0;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
.sakusei button:hover {
  transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.sakusei button:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #543618;
    border-right: 3px solid #543618;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.sakuseia button {
    float:left;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #543618;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eeee;
    border-radius: 50px;
    border: 0.2rem solid #40e0d0;
    box-shadow: 0.2rem 0.2rem 0px 0.1rem #cccccc;
}
.sakuseia button:hover {
  transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.sakuseia button:after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #543618;
    border-right: 3px solid #543618;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
    border-radius: 1px;
    transition: 0.3s ease-in-out;
}
.logo{
    text-align: center;
}