  .example{
   	width: 100px;
   }
  
   body{

       text-align: center;

       background-color:    #F0E68C;

    }

    h1 {

    font-family: "MS 明朝";      

    text-align:center;

    font-size : 25px;

    line-height : 5;

}

    h2 {

    font-family: "MS 明朝";      

    text-align:center;

    font-size : 25px;

    line-height : 5;

}

button {

font-family: "MS 明朝";      

padding: 10px 15px;

display: block;

margin: auto;

border-radius: 15px;

background-color:       #C0C0C0;

}

input{

  font-family: "MS 明朝";    

  padding: 10px 15px;

  width: 600x;

  border-radius: 10px;

  border: 2px solid black;

  background-color: #C0C0C0;




}

p{

    font-family: "MS 明朝";




}
