body{
    text-align: center;
    background-color: 	#F0E68C;
    margin-top: 170px;
 } 

 input{
    font-size: 25px;
    color: #000;/*文字色*/
  border: solid 3px #000;/*線色*/
  padding: 0.5em;/*文字周りの余白*/
  border-radius: 0.5em;/*角丸*/
 }
 p textarea{
   font-size: 35px;
   color: #000;/*文字色*/
   border: solid 3px #000;/*線色*/
   padding: 0.5em;/*文字周りの余白*/
   border-radius: 0.5em;/*角丸*/
}
.a button{
   font-size: 21px;
}
p textarea{
   font-size: 35px;
   color: #000;/*文字色*/
   border: solid 3px #000;/*線色*/
   padding: 0.5em;/*文字周りの余白*/
   border-radius: 0.5em;/*角丸*/
}
.n button{
   font-size: 21px;
}
p{
   font-size: 22px;
}